.order-content{
    background: #FFFFFF;
    padding:0 32px 34px;
    .order-id{
        height: 78px;
        line-height: 78px;
        font-size: rem(20);
        color:$main-color;
    }
    .content-title{
        font-size: rem(20);
        color:#333;
        padding-left: 20px;
    }
    .order-tracking{
        margin: 28px 8px 0;
        padding: 0 60px 22px;
        background: #f8f8f8;
//      min-height: 214px;
        font-size: rem(16);
        color:#666;
        .ot-top{
            font-weight: bold;
            height:66px;
            line-height: 66px;
            margin-bottom: 9px;
            border-bottom: 1px solid #dcdcdc;
        }
        .ot-content{
            padding-top: 12px;
        }
        .ot-top,.ot-content{
            display: flex;
            &>div:first-child{
                width: 272px;
                flex-shrink: 0;
            }
        }

    }
    .logistics-info{
        margin: 22px 0 0 20px;
        font-size: rem(16);
        color:#666;
        tr{
            line-height: 150%;
            td {
                vertical-align: top;
                padding-bottom: 7px;
            }
            td:first-child{
                text-align: right;
                white-space: nowrap;
                
                &::after{
                    content: '：';
                    margin: 0 2px;
                }
            }
        }
    }
}

