<style>
.main-wrap.J_TRegion{
	margin:0;
	width:100%;
}
#J_ServiceTab,/*#J_Social,*/.col-sub.tb-shop.J_TRegion,.ks-overlay-mask,#J_TMySize,.kg-rate-nav-tabs.theme-3,div.kg-rate-alert.type-attention,#J_PublicWelfare,#J_Counter,#J_TBMultiTerms,.kg-pagination2 ul {
	display: none !important;
}
#detail .tb-key .tb-action .tb-btn-buy{
	
}
#detail .tb-key .tb-action .tb-btn-add a{
	background-color:#ff8649;
	border-color:#ff8649;
}
#detail .tb-key .tb-action .tb-btn-add a:hover{
	background-color:#f25c11;
	border-color:#f25c11;
}
.mini-login{
	display: none !important;
}
#detail .tb-social ul li span {
    padding-left: 0;
    height: auto;
    color: #6C6C6C;
    background: 0 0;
    cursor: pointer;
}
#detail .tb-social ul li span .tb-icon {
    float: left;
    margin: 4px 5px 0 0;
    width: 16px;
    height: 16px;
}
#detail .tb-social ul li span .tb-icon {
    background: url(//gtms04.alicdn.com/tps/i4/TB1DYk6LVXXXXXIXVXXoj7wNVXX-400-340.png);
    background-image: -webkit-image-set(url(//gtms04.alicdn.com/tps/i4/TB1DYk6LVXXXXXIXVXXoj7wNVXX-400-340.png) 1x,url(//gtms03.alicdn.com/tps/i3/TB1XuFeMXXXXXcsXXXXVpeZ_VXX-800-680.png) 2x);
    background-image: -moz-image-set(url(//gtms04.alicdn.com/tps/i4/TB1DYk6LVXXXXXIXVXXoj7wNVXX-400-340.png) 1x,url(//gtms03.alicdn.com/tps/i3/TB1XuFeMXXXXXcsXXXXVpeZ_VXX-800-680.png) 2x);
    background-image: -ms-image-set(url(//gtms04.alicdn.com/tps/i4/TB1DYk6LVXXXXXIXVXXoj7wNVXX-400-340.png) 1x,url(//gtms03.alicdn.com/tps/i3/TB1XuFeMXXXXXcsXXXXVpeZ_VXX-800-680.png) 2x);
    background-image: -o-image-set(url(//gtms04.alicdn.com/tps/i4/TB1DYk6LVXXXXXIXVXXoj7wNVXX-400-340.png) 1x,url(//gtms03.alicdn.com/tps/i3/TB1XuFeMXXXXXcsXXXXVpeZ_VXX-800-680.png) 2x);
    background-repeat: no-repeat;
}
#detail .tb-social ul li span .service-icon {
    float: left;
    margin: 4px 5px 0 0;
    width: 16px;
    height: 16px;
    background-image: url(//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif);
    background-image: -webkit-image-set(url(//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif) 1x,url(//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif) 4x);
    background-image: -moz-image-set(url(//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif) 1x,url(//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif) 4x);
    background-image: -o-image-set(url(//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif) 1x,url(//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif) 4x);
    background-image: -ms-image-set(url(//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif) 1x,url(//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif) 4x);
    text-decoration: none!important;
    background-position: 48px -3px;
    width: 20px;
    height: 20px;
    zoom: 1;
}
</style>    